section {width: 100vw; height: 100vh;}
.start-pg{
    color: #fff;
    background: linear-gradient(-45deg,rgb(0,10,0),grey, lightgrey, white);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    position: relative;
    animation: backgroundChange 15s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
@keyframes backgroundChange {
    0% { background-position: 0 50%;}
    50% { background-position: 100% 50%;}   
    100% { background-position: 0 50%;}
}
img{
    margin-top: 200px; width: 100%;
}